<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WeatherApp | <%= page.title %></title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../public/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../../public/assets/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="../../../public/assets/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../../public/assets/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="../../../public/assets/plugins/datetimepicker/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="../../../public/assets/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../../public/assets/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" type="text/css" href="../../../public/assets/plugins/daterangepicker/daterangepicker.css" />
