<!DOCTYPE html>
<html lang="en">
<head>
     <% include ../partials/head %>
</head>
<body class="hold-transition skin-yellow-light sidebar-mini">

    <div class="wrapper">

        <% include ../partials/header %>
        <% include ../partials/sidebar %>


        <div class="content-wrapper" style="min-height: 916px">
            <section class="content-header">
                <h1>Anasayfa
                    <small>v<%=version%></small>
                </h1>
            </section>
            
            <section class="content">
            <p>I need frontend</p>

            </div>
          </section>
        </div>       

    <% include ../partials/script %>


</body>
</html>


