<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WeatherApp | Giriş Yap</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../../public/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../../../public/assets/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../../public/assets/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    WeatherApp
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Giriş Yap</p>

    <form action="/authorization/login" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Şifre" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <% if (code === 0) { %>
        <div class="form-group has-feedback">
          <p class="text-danger">Kullanıcı Bulunamadı</p>
        </div>
      <% } 
      else if (code === 2) { %>
        <div class="form-group has-feedback">
          <p class="text-danger">Hesabınız aktif değildir. Lütfen iletişim kurun.</p>
        </div>
      <% } %>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
        </div>
      </div>
    </form>

  </div>
</div>

<script src="../../../public/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../../../public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../public/assets/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%'
    });
  });
</script>
</body>
</html>
